* {
    box-sizing: border-box;
    text-align: left;
    font-size: 1.125rem;
    line-height: 1.7;
}

:root {
    --main-width: min(53rem, 100% - 3.5rem);
    --main-border: ;
    --link-color: #2f72a8;
}

html {
    font-family: ui-sans-serif,system-ui,helvetica;
}

h1 {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 1.5;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px auto;
    width: var(--main-width);
    overflow: hidden;
}

main {
    flex: 1;
    border: var(--main-border);
    margin-bottom: 2rem;
}

.nav-bar {
    display: flex;
    user-select: none;
    justify-content: space-between;
    align-items: center;
    border: var(--main-border);
    min-height: 5rem;
}

.nav-logo {
    display: inline;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    text-decoration: none;
}

.nav-logo:hover {
    text-decoration: underline;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin-left: auto;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    background-color: black;
    width: 25px;
    height: 3px;
    margin: 5px auto;
}




footer {
    font-size: 0.9rem;
    line-height: 1.5;
    opacity: 0.6;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: var(--main-border);
}

#hamburger-button {
    background-color: transparent;
    border: none;
    display: none;
}

#ham-menu-ul {
    display: none;
}

@media (width< 64rem){ /* nav bar smaller screen*/
    * {
        font-size: 1.1rem;
        line-height: 1.8;
    }

    .hamburger {
        display: block;
    }


    .nav-menu {
        position: fixed;
        flex-direction: column;
        gap: 0;
        justify-content: flex-start;
        align-items: center;
        top: 5rem;
        left: -100%;
        width: 100%;
        padding: 4rem 0;
        height: calc(100% - 5rem);
        transition: 0.2s;
        background-color: white;
        z-index: 1;
    }

    .nav-link {
        font-size: 1.5rem;
        line-height: 4rem;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu.active {
        left: 0;
    }

    img {
        width: 150%;
    }
}


a {
    color: var(--link-color)
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #2f72a8;
    color: #666;
    font-family: monospace;
    line-height: 1;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 0.5em;
    display: block;
}

pre code {
    font-size: 0.95em;
}


.img-wrapper {
    overflow: auto;
}

img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

blockquote {
    font-style: italic;
    margin-left: 0;
    padding-left: 1em;
    font-size: 0.95em;
    border-left: 4px solid #2f72a8;
}